<mat-toolbar color="primary" class="header-toolbar">
    <span class="header-title">Nuestra apliacacion en conjunto</span>
  

    <div class="header-menu">
      <a routerLink="/inicio" routerLinkActive="active">Inicio</a>
      <a routerLink="/productos" routerLinkActive="active">Productos</a>
      <a routerLink="/contacto" routerLinkActive="active">Contacto</a>
    </div>
  

    <div class="header-buttons">
      <button mat-button>Botón 1</button>
      <button mat-button>Botón 2</button>
    </div>
  </mat-toolbar>
  